:root {
    --main-family: 'monospace'
    --main-color: #333;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: var(--main-family);
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: bold italic;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header__title {
    font-size: 2em;
    margin: 1;
    font-family: var(--main-family);
}

.main {
    height: 100%;
    background-color: #76a2bc;
}

.guitars {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    align-content: center;
}

.guitars__item {
    padding: 10px;
    margin: 20px;
    background-color: #bdd0db;
    border-radius: 5px;
    width: 30%;
}

.guitars__name {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
    font-family: var(--main-family);
}

.guitars__description {
    text-align: center;
    margin-top: 10px;
    font-size: 1em;
    color: #333;
    font-family: var(--main-family);
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}